*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  a{
    cursor: pointer;
  }

  .hecontent {
    display:flex;
    gap:.5rem;
    justify-content: center;
    align-items: center;
  }
  .hecontent img{
    height: 3.5rem;

    @media only screen and (max-width: 450px){
      font-size: 2rem;

    }
  }
  .hecontent span{
    font-size: 0.85rem;
    color: white;
    font-weight: bold;

    @media only screen and (max-width: 450px){
      font-size: 0.9rem;

    }
  }
  
  .iconcontainer {
    background-color: white;   /* Set parent background color to white */
    border-radius: 50%;        /* Add 25% border radius */
    display: flex;             /* Flexbox for centering the icon */
    justify-content: center;   /* Center the icon horizontally */
    align-items: center;       /* Center the icon vertically */
    width: 45px;               /* Set width for the container */
    height: 45px;              /* Set height for the container */
  }
  
  .iconcontainer i {
    color: #0565ff;            /* Set icon color */
    font-size: 14px;           /* Adjust icon size as needed */
  }
  
  .dflex{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .container{
    position:relative;
    display: flex;  
    width:100%;
    height:9.25vh;  
    
    
  }
  .content_wrapper{
    @extend .dflex; 
    width:100%;
    height:calc(100vh - 60px );  
  }
  header{
    @extend .dflex;
    justify-content: space-between;
    margin-top: 1rem;

    width:100%;
    height:58px;
    border:0;
    padding:0 50px;
    @media only screen and (max-width: 450px){
      padding: 0;
    }
    .menu{
      width:58px;
      height:58px;
    
      @extend .dflex;
      cursor:pointer;
    }
  }
  .menu_container{
    position:absolute;
    width:100%;
    height:100%;
    background-color:#0565ff;
    color:#fff;
    @extend .dflex;
    flex-direction: column;
    a{
      display:inline-flex;
      color:#fff;
      text-decoration: none;
      height:80px;
      overflow: hidden;
      font-size:2vw;
      @media(max-width:768px){
        font-size:22px;
      }
      text-transform: uppercase;
      +a{
        margin-top:1vw;
      }
    }
  
    .btn_close{
      @extend .dflex;
      width:58px;
      height:58px;
      background-color:#fff;
      color:#000;
      border-radius: 58px;
      position:absolute;
      top:20px;
      right:20px;
      z-index:2;
      cursor:pointer;
      font-size:18px;
    }
  }